extends layout

block content
	h2.
		Statystyka komentarzy za #{month}
	div(class='row')
		div(class='col-sm-6 small')
			if history < max_hist
				a(href='/komentarze/' + (history + 1),class='btn').
					<< poprzedni miesiąc
			else
				| &nbsp;
		div(class='col-sm-6 small text-right')
			if history > 0 
				a(href='/komentarze/' + (history != 1 ? (history - 1) : ''),class='btn').
					następny miesiąc >>
	table(class='table tablesorter')
		thead
			tr
				th.
					Lp.
				th.
					Użytkownik
				th.
					Liczba skomentowanych tekstów
				th.
					Liczba komentarzy
				th.
					W tym pod cudzymi tekstami
		tbody
			each row, r in stats
				tr
					td
						| #{row.rownum}.
					td
						if row.active
							if row.permanent
								strong.
									#{row.name}
							else
								i.
									#{row.name}
						else
							| #{row.name}
					td.
						#{row.stories_count}
					td.
						#{row.comment_count}
					td.
						#{row.others_count}