extends layout

block content
	if secret
		p(class='text-muted')
			| #{secret}
	a(href='#podsumowanie',name='top',class='btn pull-right')
		span(class='glyphicon glyphicon-chevron-down')
		| &nbsp;do podsumowania
	table(class='grafik table table-bordered table-hover table-condensed')
		each day, i in days
			tr(class='active')
				th
					h3=day.display_day
				each judge, x in day.stories[0].comments
					if !judge.permanent && judge.on_duty
						th(class=judge.on_duty ? ' warning' : '')=judge.name
			each story, j in day.stories
				tr
					td(class=(story.excluded ? 'warning' : ''))
						| #{story.author} - 
						a(href='http://www.fantastyka.pl/opowiadania/pokaz/' + story.id) #{story.title} 
						| - #{story.display_date} - #{story.last_comment_count} kom. 
						if story.contest_name != null
							a(href='/konkurs/' + story.contest_id)
								span(class='label label-success')
									| #{story.contest_name}
					each entry, k in story.comments
						if !entry.permanent && entry.on_duty
							td(class=(story.excluded ? 'warning' : (entry.comment_count > 0 ? (entry.on_duty ? 'info' : 'success') : entry.on_duty ? 'danger' : '')))
								| #{entry.comment_count}
	a(href='#top',name='podsumowanie',title='do góry',class='btn pull-right')
		span(class='glyphicon glyphicon-chevron-up')
	h4
		|Podsumowanie za okres od #{date_from} do #{date_to}
	div(class='row')
		div(class='col-sm-6 small')
			if history < max_hist
				a(href='/' + (history + 1) + '#podsumowanie',class='btn').
					<< poprzedni miesiąc
			else
				| &nbsp;
		div(class='col-sm-6 small text-right')
			if history > 0 
				a(href='/' + (history != 1 ? (history - 1) : '') + '#podsumowanie',class='btn').
					następny miesiąc >>
	-var nonPermHit = false
	table(class='table')
		tr
			th
			th.
				Norma
			th.
				Hobby
			th.
				Razem
		tr
			td(colspan=4)
				i
					| Dyżurni
		each row, r in summary.rows
			tr
				td
					strong=row.name
				td.
					#{row.quota_done}/#{row.quota_total} (#{row.quota_percent}%)
				td.
					#{row.hobby_done}/#{row.hobby_total} (#{row.hobby_percent}%)
				td.
					#{row.all_done}/#{row.all_total} (#{row.all_percent}%)
	a(href='/komentarze/#{history}').
		Statystyka komentarzy za ten miesiąc
	br
	a(href='/komentarze/').
		Statystyka komentarzy za wszystkie miesiące
	br
	form(class='form-inline',role='form',action='/komentarze',method='GET')
		| Statystyka komentarzy za okres od 
		input(type='date',class='form-control',name='dataod',value=moment(Date.now()).startOf('month').format('YYYY-MM-DD'))
		|  do 
		input(type='date',class='form-control',name='datado',value=moment(Date.now()).format('YYYY-MM-DD'))
		button(type='submit',class='btn btn-default')
			| Pokaż
	br
	a(href='/konkursy').
		Konkursy
	p.
		Ostatnia aktualizacja: #{last_updated}
	p
		| Kontakt:
		a(href='mailto:beryl@fantastyka.pl').
			beryl@fantastyka.pl
			