extends layout

block content
	table(class='grafik table table-bordered table-hover table-condensed')
		each day, i in days
			tr(class='active')
				th
					h3=day.display_day
				each judge, x in day.stories[0].comments
					if !judge.permanent && judge.on_duty
						th(class=judge.on_duty ? ' warning' : '')=judge.name
			each story, j in day.stories
				tr
					td(class=(story.excluded ? 'warning' : ''))
						| #{story.author} - 
						a(href='http://www.fantastyka.pl/opowiadania/pokaz/' + story.id) #{story.title} 
						| - #{story.display_date} - #{story.last_comment_count} kom. 
						if story.contest_name != null
							span(class='label label-success')
								| #{story.contest_name}
					each entry, k in story.comments
						if !entry.permanent && entry.on_duty
							td(class=(story.excluded ? 'warning' : (entry.comment_count > 0 ? (entry.on_duty ? 'info' : 'success') : entry.on_duty ? 'danger' : '')))
								| #{entry.comment_count}